# EDA 
1. General plots of demographics -> breakdown by republican and democrats?
2. Maybe some plots on which county switched from D -> R or R-> D
3. Definitely some choropleth plots for both 2012, 2016 results and 2020 predictions
4. Get updated demographics for 2020?

Classes needed for EDA? Unlikely
Functions? Probably - plotting, choropleth plots with county data
Function for calculating electoral college votes. pd.merge on state?
One hot encoder to prep

In [3]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as ex
import seaborn as sns

from src import explorers

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
# Load data and put fips as string
data = pd.read_csv('data/cleaned_data.csv', dtype={'fips': str})
population_data = pd.read_csv('data/population.csv')

In [13]:
# Drop the extra column in dataframe
data.drop(columns='Unnamed: 0', inplace=True)

In [14]:
data.head()

,state,county,fips,white_pct,black_pct,hispanic_pct,nonwhite_pct,foreignborn_pct,female_pct,age29andunder_pct,...,clinton16_pct,otherpres16_pct,romney12_pct,obama12_pct,otherpres12_pct,cvap_pct12,metro,rural,urban_metroadj,urban_not_metroadj
0,Alabama,Autauga,1001,75.683482,18.370906,2.572254,24.316518,1.838362,51.176225,40.037058,...,23.769671,3.463741,72.618252,26.587832,0.793916,58.815434,1,0,0,0
1,Alabama,Baldwin,1003,83.178788,9.225603,4.366698,16.821212,3.269510,51.194928,35.474412,...,19.385601,4.068687,77.358269,21.589444,1.052286,56.228504,1,0,0,0
2,Alabama,Barbour,1005,45.885624,47.888329,4.309762,54.114376,2.859397,46.498084,37.664387,...,46.527844,1.375490,48.223130,51.368494,0.408376,56.485890,0,0,1,0
3,Alabama,Bibb,1007,74.765196,21.212121,2.223994,25.234804,1.351232,46.464646,37.329435,...,21.249575,2.347205,72.826603,26.152019,1.021378,47.868107,1,0,0,0
4,Alabama,Blount,1009,87.657701,1.557951,8.727298,12.342299,4.271801,50.485235,37.240053,...,8.425825,2.239331,86.465884,12.371907,1.162209,56.577893,1,0,0,0

In [16]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

import pandas as pd
#df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/fips-unemp-16.csv",
#                   dtype={"fips": str})

import plotly.express as px

fig = px.choropleth(data, geojson=counties, locations='fips', color='white_pct',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           scope="usa",
                           labels={'white_pct':'white percent'}
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 17)

In [11]:
df.head()

    fips  unemp
0  01001    5.3
1  01003    5.4
2  01005    8.6
3  01007    6.6
4  01009    5.5